variable "account_id" {
  default = ""
}

variable "access_key" {
  default = ""
}

variable "secret_key" {
  default = ""
}

variable "db_admin_user" {
  default = ""
}

variable "db_admin_password" {
  default = ""
}

variable "sms_external_id" {
  default = ""
}

